:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: pink;
  text-decoration: inherit;
}

body {
  padding: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #F487B6;
}

h4 {
  font-size:larger;
  margin:unset;
  padding-top: 3px;
  font-weight: 400;
}

h5 {
  font-size: smaller;
  font-style: oblique;
  padding-bottom: 2px;
  color:#F487B6;
  margin: unset;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    padding: 0%;
  }
  a:hover {
    color: pink;
  }
  button {
    background-color: #f9f9f9;
  }
}
