.memberProfileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.memberProfile {
    margin-top: 30px;
    float: left;
    padding: 20px;
    max-width: 500px;
}

.memberProfileIcon {
    border: 2px;
    border-color: #F487B6;
    border-style: solid;
    border-radius: 15px;
    height: 15rem;
}

.memberDesc {
    padding: 20px;
    max-height: 20rem;
    max-width: 30rem;
    border: 2px;
    border-color: #F487B6;
    border-style: solid;
    border-radius: 15px;
    text-align: left;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}