/* navbar.css */

nav {
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
  position: relative;
  /* float: left; */
}

nav ul li a {
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

nav ul li ul.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

nav ul li ul.dopdown-content.show {
  display: block;
}

nav ul li ul.dropdown-content li {
  display: block;
}

nav ul li ul.dropdown-content li a {
  display: block;
  color: #111;
  padding: 12px 16px;
  text-decoration: none;
}

nav ul li ul.dropdown-content li a:hover {
  background-color: #ddd;
}

/* .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content li {
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
   */